/* line 18, ../sass/main.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 22, ../sass/main.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 3em;
  background-color: #eee;
}
@media screen and (min-width: 768px) {
  /* line 22, ../sass/main.scss */
  body {
    font-size: 16px;
  }
}

/* line 32, ../sass/main.scss */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* line 37, ../sass/main.scss */
p {
  margin: 0 0 20px;
}

/* line 40, ../sass/main.scss */
.header {
  position: relative;
  padding-top: 50px;
}

/* line 44, ../sass/main.scss */
.main {
  padding-top: 50px;
}

/* line 47, ../sass/main.scss */
.hero {
  position: relative;
}
/* line 49, ../sass/main.scss */
.hero img {
  width: 100%;
}
/* line 52, ../sass/main.scss */
.hero .logo {
  width: auto;
  position: absolute;
  bottom: 10%;
  left: 2em;
}

/* line 60, ../sass/main.scss */
.content {
  margin-top: 30px;
}

/* line 64, ../sass/main.scss */
.page-title {
  margin-top: 0px;
  margin-bottom: 30px;
}

/* line 69, ../sass/main.scss */
.hentry, .widget {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
/* line 8, ../sass/main.scss */
.hentry:before, .hentry:after, .widget:before, .widget:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/main.scss */
.hentry:after, .widget:after {
  clear: both;
}

/* line 74, ../sass/main.scss */
.widget {
  padding: 30px;
}

/* line 81, ../sass/main.scss */
.hentry h2 a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 20px;
}
/* line 85, ../sass/main.scss */
.hentry h2 a:hover {
  color: #555;
}
@media screen and (min-width: 768px) {
  /* line 90, ../sass/main.scss */
  .hentry h2 a {
    font-size: 24px;
  }
}

/* line 95, ../sass/main.scss */
.entry-header {
  padding: 0 30px;
}

/* line 98, ../sass/main.scss */
.entry-footer {
  padding: 30px;
  background-color: #f6f6f6;
}

/* line 102, ../sass/main.scss */
.entry-content {
  padding: 0 30px;
}

/* line 105, ../sass/main.scss */
.posted-on {
  font-size: 14px;
}
/* line 107, ../sass/main.scss */
.posted-on a {
  color: #aaa;
}

/* line 111, ../sass/main.scss */
.post-content {
  padding: 20px 0;
}
/* line 113, ../sass/main.scss */
.post-content .entry-title {
  margin-top: 0;
}
/* line 116, ../sass/main.scss */
.post-content p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  /* line 111, ../sass/main.scss */
  .post-content {
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  /* line 125, ../sass/main.scss */
  .post-thumbnail {
    vertical-align: middle;
    display: table-cell;
  }
  /* line 129, ../sass/main.scss */
  .post-thumbnail img {
    max-width: 225px;
  }
}

@media screen and (min-width: 768px) {
  /* line 134, ../sass/main.scss */
  .results.type-results {
    display: table;
  }
}

/* line 140, ../sass/main.scss */
.widget-title {
  font-size: 22px;
  margin-top: 0;
}

/* line 146, ../sass/main.scss */
.widget_recent_entries ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 151, ../sass/main.scss */
.widget_recent_entries li {
  margin-bottom: 10px;
}
/* line 154, ../sass/main.scss */
.widget_recent_entries a {
  display: block;
  font-size: 16px;
  color: #222;
}
/* line 159, ../sass/main.scss */
.widget_recent_entries span {
  color: #aaa;
  font-size: 12px;
}

/* line 164, ../sass/main.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #101010;
  padding: 18px 30px;
  margin-top: 30px;
}

/* line 176, ../sass/main.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 182, ../sass/main.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
